@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
@import url('variables.css');

body {
  box-sizing: border-box;
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: var(--main-font);
  background-color: var(--underlayment-color);
}

#root {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}

h1 {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  font-size: 2rem;
  line-height: 2rem;
  width: 100%;
  padding: 0.5rem 0 0.5rem 1rem;
  background-color: var(--srm_3);
  background: linear-gradient(0deg,
      rgba(249,162,28,1) 0%,
      rgba(254,192,72,1) 10%,
      rgba(254,192,72,1) 90%,
      rgba(254,226,135,1) 92%,
      rgba(255,255,255,1) 96%,
      rgba(255,255,255,1) 100%);
  border-bottom: 2px solid var(--srm_20);
  color: var(--srm_40);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.15);
  z-index: 2;
}

main {
  margin: 3.5rem 0.5rem 0.5rem 0.5rem;
  padding: 1em;
  display: flex;
  flex-grow: 1;
  background-color: var(--surface-bg-color);
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.15);
  overflow: auto;
}

.style-list-container {
  flex-basis: 60%;
  overflow: auto;
}

.style-list-container table {
  position: relative;
}

.style-list-container th {
  position: sticky;
  top: 0;
  background-color: rgba(var(--surface-bg-value), 0.72);
}

.style-list-container td {
  padding-top: 4px;
  padding-bottom: 4px;
  border-bottom: 1px solid var(--border-color);
}

main > article {
  padding-left: 1rem;
  overflow: auto;
  flex-basis: 42%;
}

table {
  border-spacing: unset;
}

table th,
table td {
  text-align: right;
  padding-left: 0.75rem;
}

.style-list-container table th:first-of-type,
.style-list-container table td:nth-child(2) {
  text-align: left;
  padding-left: 0;
}

table td:first-of-type {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

table th:last-of-type,
table td:last-of-type {
  padding-right: 0.75rem;
}

.style-list-container tbody tr:hover {
  background-color: var(--srm_1);
}

.style-list-container tbody tr.is-selected {
  background-color: var(--srm_2);
}

.style-list-container td:first-of-type,
.srm-gradient div:first-of-type {
  border-top-left-radius: var(--selected-border-radius);
  border-bottom-left-radius: var(--selected-border-radius);
}

.style-list-container td:last-of-type,
.srm-gradient div:last-of-type {
  border-top-right-radius: var(--selected-border-radius);
  border-bottom-right-radius: var(--selected-border-radius);
}

.style-list-container tbody tr.is-selected:hover {
  background-color: var(--srm_3);
}

article table {
  font-size: 0.75rem;
  width: 100%;
}

article th,
article td {
  width: 20%;
  text-align: center;
}

article h2 {
  margin: 0;
  margin-bottom: 1rem;
  position: sticky;
  top: 0;
  background-color: rgba(var(--surface-bg-value), 0.72);
}

#tags ~ p {
  font-size: 0.75rem;
}

.close-icon {
  display: none;
}

@media all and (max-width: 1024px) {
  .style-list-container {
    flex-basis: 100%;
  }
  main > article {
    position: absolute;
    background-color: #ffffff;
    left: 0;
    top: 3rem;
    padding-top: 1rem;
    padding-right: 1rem;
  }

  .close-icon {
    display: block;
    position: fixed;
    right: 1rem;
    z-index: 3;
    font-size: 3rem;
    font-weight: bold;
    color: #cdcdcd;
    transition: color 0.5s;
  }

  .close-icon:hover {
    transition: color 0.5s;
    color: #999999;
    cursor: pointer;
  }
}

.preamble {
  font-style: italic;
}

.stats-notes {
  font-size: 0.8rem;
}
