:root {
  --underlayment-color: #efefef;
  --surface-bg-value: 255, 255, 255;
  --surface-bg-color: rgb(var(--surface-bg-value));
  --border-color: #ededed;
  --main-font: 'Open Sans', sans-serif;
  --selected-border-radius: 4px;

  --srm_1:  #FEE287;
  --srm_2:  #FED265;
  --srm_3:  #FEC048;
  --srm_4:  #FDB335;
  --srm_5:  #F9A21C;
  --srm_6:  #F49708;
  --srm_7:  #ED8A09;
  --srm_8:  #E37C07;
  --srm_9:  #DE7206;
  --srm_10: #D46806;
  --srm_11: #CC5E06;
  --srm_12: #C35404;
  --srm_13: #BC4D03;
  --srm_14: #B44605;
  --srm_15: #AB3C04;
  --srm_16: #A53904;
  --srm_17: #9E3203;
  --srm_18: #932C02;
  --srm_19: #8D2601;
  --srm_20: #882203;
  --srm_21: #811F02;
  --srm_22: #7A1C02;
  --srm_23: #721701;
  --srm_24: #6D1301;
  --srm_25: #671002;
  --srm_26: #630F00;
  --srm_27: #5C0C00;
  --srm_28: #560601;
  --srm_29: #520500;
  --srm_30: #4B0601;
  --srm_31: #470403;
  --srm_32: #4C0102;
  --srm_33: #410409;
  --srm_34: #390005;
  --srm_35: #350106;
  --srm_36: #330109;
  --srm_37: #2F0309;
  --srm_38: #2B0309;
  --srm_39: #2B050B;
  --srm_40: #28060A;
}
